@import "../../../Common/style";

.news {
    border-radius: 2px;
    background-color: $news-back-color;
    padding: 30px 30px 20px;
}

.top {
    margin-bottom: 10px;
}

.title {
    font-size: 18px;
    font-weight: 500;
}

.time {
    font-size: 14px;
    text-align: right;
}

.info {
    @include flexible();
    justify-content: space-between;
}

.vision {
    @include flexible();
}

.viewImg {
    width: 15px;
    display: block;
    margin-right: 5px;
}

.viewCount {
    font-size: 12px;
}

.editor {
    width: 100%;
}

.footer {
    @include flexible();
    justify-content: space-between;
    margin-top: 30px;
}

.deleteBtn {
    width: 200px;
    display: block;
    outline: none;
    border: 1px solid $delete-color;
    color: red;
    background-color: transparent;
    padding: 10px 0;
    transition: all 0.4s ease;
    font-size: 16px;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: $delete-color;
    color: white;
}

.updateBtn {
    @include flexible();
    justify-content: center;
    width: 200px;
    color: white;
    background-color: #294352;
    padding: 10px 0;
    border: 1px solid #294352;
    transition: all 0.4s ease;

    div {
        margin-right: 10px;
    }
    img {
        display: block;
    }
}

.updateBtn:hover {
    color: white;
    border: 1px solid #496E83;
    background-color: #496E83;
}

@media (max-width: 650px) {
    .news {
        width: 100%;
    }
    .footer {
        flex-direction: column;
    }

    .updateBtn {
        display: none;
    }
    .deleteBtn {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .news {
        padding: 15px;
    }
    .title {
        font-size: 14px;
    }
    .editor, .time, .viewCount, .updateBtn, .deleteBtn {
        font-size: 12px;
    }
}
