@import "../../../Common/style";

.news {
    border-radius: 2px;
    background-color: #d8d8d8;
    padding: 30px 30px 20px;
}

.top {
    @include flexible();
    margin-bottom: 30px;
    justify-content: space-between;
}

.title {
    font-size: 18px;
    font-weight: 500;
}

.time {
    font-size: 14px;
}

