@import "../../../Common/style";

.news {
    border-radius: 2px;
    background-color: #d8d8d8;
    padding: 30px 30px 20px;
}

.title {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;

}
