@import "../../../src/Common/style";

.input {
    width: 100%;
    outline: none;
    height: 41px;
    font-size: 14px;
    padding: 0 10px;
    background-color: transparent;
    border: 1px solid black;
}
