.sidebar {
    padding: 25px 0;
}

.title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.list {

}

.list li {
    margin-bottom: 30px;
}

.list li:last-child {
    margin-bottom: 0;
}

.link {
    color: black;
    font-size: 14px;
    width: max-content;
    text-decoration: none;
    background-image: linear-gradient(black, black);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    padding-bottom: 4px;
    transition: background-size 0.7s;
}

.link:hover {
    background-size: 100% 2px;
}

.active {
    font-weight: 500;
    background-size: 100% 2px;
    background-image: linear-gradient(black, black);
}


@media (max-width: 778px) {
    .sidebar {
        padding: 25px 0 0;
    }
}

@media (max-width: 650px) {
    .sidebar {
        padding: 20px 30px;
    }
}

@media (max-width: 480px) {
    .title {
        margin-bottom: 20px;
    }
    .list {
        & li {
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 400px) {
    .sidebar {
        padding: 20px 10px;
    }
    .title {
        font-size: 14px;
    }
    .list {
        & li {
            font-size: 12px;
        }
    }
}

