@import "../../../Common/style";

.newsList {
    grid-area: main;
    border-radius: 2px;
    background-color: #f7f7f7;
    height: 100%;
    padding: 25px 60px 0;
}

.top {
    margin-bottom: 25px;
    @include flexible();
    justify-content: space-between;
}

.title {
    font-size: 16px;
    font-weight: 500;
}

.toggle {
    @include flexible();
}

.toggle span {
    margin-right: 10px;
}

.content {
    margin-bottom: 30px;
}

.largeContainer {

}

.smallContainer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.displaying {
    @include flexible();
    margin-left: 30px;
}
.popular {
    @include flexible();

}

@media (max-width: 778px) {
    .newsList {
        padding: 25px 30px 0;
    }
}

@media (max-width: 650px) {
    .smallContainer {
        padding: 25px 30px 0;
    }
    .displaying {
        display: none;
    }
}

@media (max-width: 480px) {
    .top {
        margin-bottom: 15px;
    }
    .title, .popular {
        font-size: 14px;
    }
    .newsList {
        padding: 15px 15px 0;
    }
}
