@import "../../../../Common/style";

.news {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 2px;
    background-color: #646464;
    padding: 30px;
    display: block;
}

.top {
    @include flexible();
    justify-content: space-between;
    margin-bottom: 20px;
}

.title {
    font-size: 14px;
    color: white;
    font-weight: 400;
    //word-break: break-all;
}

.time {
    font-size: 12px;
    color: white;
}

.img {
    color: white;
    width: 100%;
    max-height: 300px;
    margin-bottom: 20px;
}

.img img {
    display: block;
    width: 100%;
    max-height: inherit;
    object-fit: cover;
}

.description {
    font-size: 14px;
    color: white;
    white-space: pre-wrap;
}
