@import "../../../src/Common/style";

.input {
    width: 280px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    font-size: 12px;
    padding-bottom: 2px;
}
