.paginator {
    margin: 30px auto;
    text-align: center;
    padding: 5px 10px;
    width: max-content;
    border-radius: 5px;
}

.pageNumber {
    margin: 0 2px;
    padding: 2px;
    cursor: pointer;
    color: rgba(0,0,0,0.5);
    font-weight: 500;
}

.selectedPage {
    color: black;
}

.btn {
    width: 80px;
    cursor: pointer;
    margin: 0 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
}

@media (max-width: 480px) {
    .pageNumber {
        font-size: 14px;
    }
}
